@use "../../themes/theme.scss";

.rated-section-root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
  width: 65%;
  overflow-x: auto;
  // Chrome, Edge, Safari
  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent; // tira o fundo branco
  }

  &::-webkit-scrollbar-thumb {
    background-color: #123947;
    border-radius: 999px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #1a5368;
  }

  // Firefox
  scrollbar-width: thin;
  scrollbar-color: #123947 transparent;
  // background-color: red;

  .rated-section__title {
    display: flex;
    align-items: center;
    gap: 1rem;

    font-family: "Bebas Neue", sans-serif;
    font-size: 45px;
    color: var(--primary-text);
    letter-spacing: 0.1rem;
  }

  .trending-icon {
    font-size: 30px;
    color: var(--action1);
  }

  .rated-section__medias {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
}
