@use "../../../themes/theme.scss";

.control-root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;

  .control__btn {
    background-color: var(--inputBackground);
    border: 1px solid var(--inputBorderColor);
    color: var(--primary-text);
    height: fit-content;
    width: fit-content;
    border-radius: 50%;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-tap-highlight-color: transparent;
    user-select: none; // evita selecionar texto/ícone com toque longo
    cursor: pointer;
    outline: none; // tira o contorno de foco ao clicar
  

    &:hover {
      color: var(--action1);
      cursor: pointer;
    }

    .btn-icon {
      font-size: 15px;
    }
  }

  .control__dots-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    .dot {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: var(--secondary-text);
    }

    .highlited{
      background-color: var(--action1);
    }
  }
}

@media (max-width: 1200px) {
  .control-root {
    width: 45%;

    .control__btn {
      .btn-icon {
        font-size: 12px;
      }
    }
    .control__dots-display {
      gap: 0.5rem;
    }
  }
}
