@use "../../../themes/theme.scss";

.MuiButton-root.action-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  background-color: var(--action1);
    font-family: "Inter", sans-serif;
  color: var(--inputBackground);
  border-radius: 1.5rem;
  padding: 8px 20px;
  text-transform: none;
  font-size: 16px;

  .MuiSvgIcon-root {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
}

@media (max-width: 1200px) {
  .MuiButton-root.action-button {
   
    padding: 8px 10px;
  }
}
